.kurento-conference {
  width: 100%;
  height: 100%;
  background-color: white;
  @import "normalize";
  @import "utils";
  @import "components/header";
  @import "components/userlist";
  @import "components/useritem";
  @import "components/streamlist";
  @import "components/streamitem";
  @import "components/loader";
}